<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Passage du Désir : boutique chic et glamour</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="Passage du Désir : boutique chic et glamour">
    <meta property="og:image" content=""/>
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Passage du Désir : boutique chic et glamour">
    <meta name="description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="og:description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="twitter:description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
<div id="main">
    <header>
        <div class="plaisir-menu">
            <div>
                <img src="/images/logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/articles">Produit</a></li>
                    <li><b>Découvrez le plaisir</b></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <section class="plaisir-a-article">
            <div>
                <h4>Ajouter un article</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus tenetur, eos sint voluptatem
                    amet ea culpa nostrum vel numquam officia. Labore reprehenderit vero repudiandae obcaecati
                    necessitatibus? Aut odit sit vitae pariatur nostrum blanditiis expedita architecto?</p>
                <b>
                    <img src="/images/sextoy1.png" alt="">
                    <img src="/images/sextoy2.png" alt="">
                </b>
            </div>
            <div>
                <div>
                    <img src="/images/logo.png" alt="">
                    <form action="#" th:action="@{/articles/article}" th:object="${article}" method="post">
                        <p>Nom: <input type="text" th:field="*{name}"/></p>
                        <p>Description: <input type="text" th:field="*{description}"/></p>
                        <p>Image: <input type="text" th:field="*{url_image}"/></p>
                        <p>Prix: <input type="text" th:field="*{price}"/></p>
                        <p>Catégorie:
                            <select th:field="*{category_id}">
                                <option th:each="i : ${#numbers.sequence(1, 3)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </p>
                        <p>
                            <input type="submit" value="Ajouter">
                            <input class="red" type="reset" value="Annuler">
                        </p>
                    </form>
                    <div th:if="${errorMessage}" th:utext="${errorMessage}"
                         style="color:red;font-style:italic;">
                        ...
                    </div>
                </div>
        </section>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>