<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Passage du Désir : boutique chic et glamour</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="Passage du Désir : boutique chic et glamour">
    <meta property="og:image" content=""/>
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Passage du Désir : boutique chic et glamour">
    <meta name="description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="og:description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="twitter:description"
          content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="main">
    <header>
        <div class="plaisir-menu">
            <div>
                <img src="/images/logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/articles">Produit</a></li>
                    <li><b>Découvrez le plaisir</b></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="plaisir-action-article">
        <div>
            <div>
                <a href="/articles/categorie_femmes">Femmes</a>
            </div>
            <div>
                <a href="/articles/categorie_hommes">Hommes</a>
            </div>
            <div>
                <a href="/articles">Femmes et Hommes</a>
            </div>
        </div>
        <div>
            <div>
                <a href="/articles/article">Ajouter un article</a>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div class="plaisir-contains fix">
            <div class="plaisir-card" th:each="article : ${article}">
                <div>
                    <img th:src="${article.url_image}" alt="">
                </div>

                <div>
                    <h4 th:text="${article.name}"></h4>
                    <p th:text="${article.description}">€</p>
                    <b th:text="${article.price}"></b>
                    <a th:href="'/articles/article/' + ${article.id}">Voir plus</a>
                    <a th:href="'/articles/article/edit/' + ${article.id}">Modifier</a>
                    <a th:href="'/articles/article/delete/' + ${article.id}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/js/scripts.js"></script>-->

</body>
</html>