<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Passage du Désir : boutique chic et glamour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="Passage du Désir : boutique chic et glamour">
    <meta property="og:image" content="" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Passage du Désir : boutique chic et glamour">
    <meta name="description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="og:description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="twitter:description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Liste des utilisateurs</h1>
<table>
    <thead>
    <tr>
        <td>name</td><td>description</td><td>id</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="article : ${article}">
            <td th:text="${article.name}"></td>
            <td th:text="${article.description}"></td>
            <td th:text="${article.id}"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>
