<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Passage du Désir : boutique chic et glamour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta property="og:title" content="Passage du Désir : boutique chic et glamour">
    <meta property="og:image" content="" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Passage du Désir : boutique chic et glamour">
    <meta name="description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="og:description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <meta property="twitter:description" content="Passage du Désir la première marque dédiée au développement durable du couple. Sélection de sextoys de qualité; cadeaux coquins et romantiques.">
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
<div id="main">
    <header>
        <div class="plaisir-menu">
            <div>
                <img src="../../static/images/logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="accueil">Accueil</a></li>
                    <li><a href="produit">Produit</a></li>
                    <li><b>Découvrer le plaisir</b></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="wrapper">
        <section class="plaisir-mainpage">
            <div class="plaisir-content">
                <div>
                    <h1>Laissez-vous tenter par le désir</h1>
                    <p>Pas de panique, on pense à vous : pas de rideaux, pas de néons, pas de honte ni de gêne.
                        <br>Nos conseillers de vente mettront tout en œuvre pour vous accueillir avec bienveillance, dans une atmosphère agréable et détendue.
                        <br>
                        <br>On sait que la sexualité est aussi variée que vous l’êtes. Passage du Désir se veut inclusif et accessible au grand public.</p>
                    <a href="">Découvrir nos produits</a>
                </div>
                <div>
                    <img class="plaisir-sextoy1" src="../../static/images/sextoy1.png" alt="">
                    <img class="plaisir-sextoy2" src="../../static/images/sextoy2.png" alt="">
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</body>

</html>